<% if current_user %>

<%= simple_form_for(@event) do |f| %>
    <%= f.input :name, required: true, input_html: {class: 'validate[required] full-width', maxlength: 140} %>
    <%= f.association :category, wrapper_html: {class: 'form full-width'}, required: true, input_html: {class: 'validate[required] form-control'} %>
    <%= f.input :summary, label: 'Summary (max 200 characters)', required: true, input_html: {class: 'full-width validate[required]', maxlength: 200} %>
        <small class="lt-grey"><span id="event_summary_char_count">200</span> characters left.</small><br>
    <%= f.input :address_line_1, wrapper_html: {class: 'inline half left'}, required: true, input_html: {class: 'validate[required]'} %>
    <%= f.input :address_line_2, wrapper_html: {class: 'inline half'} %>
    <%= f.input :city, wrapper_html: {class: 'inline half left'}, required: true, input_html: {class: 'validate[required]'} %>
    <%= f.input :state, label: 'State / Province', wrapper_html: {class: 'inline half'}, required: true, input_html: {class: 'validate[required]'} %>
    <%= f.input :zipcode, label: 'Zipcode (if USA)', wrapper_html: {class: 'inline half left'}, input_html: {class: 'validate[custom[integer]]'} %>
    <%= f.input :country, collection: ['United States', 'Panama'],
                wrapper_html: {class: 'form inline half'}, input_html: {class: 'validate[required] form-control'}, required: true %>
    <%= f.input :start_date, label: 'Start Date', placeholder: 'ex: 2012/04/23', required: true,
    wrapper_html: {class: 'inline half left'}, input_html: {class: 'validate[required] validate[custom[date]]'}%>
    <%= f.input :start_time, label: 'Start Time', placeholder: 'ex: 3:30pm', required: true,
                    wrapper_html: {class: 'inline half'}, input_html: {class: 'validate[required]'}%>

    <%= f.input :end_date, label: 'End Date', placeholder: 'ex: 2012/04/23', required: true,
                wrapper_html: {class: 'inline half left'}, input_html: {class: 'validate[required] validate[custom[date]]'}%>
    <%= f.input :end_time, label: 'End Time', placeholder: 'ex: 5:30pm', required: true,
                    wrapper_html: {class: 'inline half'}, input_html: {class: 'validate[required]'}%>



        <%= f.input :link, label: 'Event URL', placeholder: 'http://www.yourevent.com/register',
    input_html: {class: 'validate[custom[url]] full-width'}%>

    <%= f.input :price_unit, label: 'Price', wrapper_html: {class: 'form inline'},
    collection: ['USD', 'CAD', 'EUR', 'GBP', 'INR', 'AUD', 'AED', 'YEN'], input_html: {class: 'form-control'}%>
    <%= f.input :price_string, label: false, placeholder: 'ex: $12, $10-$20, FREE,...', wrapper_html: {class: 'inline'}, required: true, input_html: {class: 'validate[required]'} %>

    <div class="wide center">
      <%= f.submit 'Create an Event', class: 'btn-pink' %>
    </div>
<% end %>

<% else %>
<br><br><br><br>
<h3 class="pink center wide">Please sign in to continue.</h3>
<br><br><br><br><br>
<% end %>