

<div class="container wide">

  <div class="middle wide">
    <%= image_tag 'logo.png', class: 'logo' %>
  </div>
  <div class="filters wide gradient-gray">
    <div class="col1">
        <ul id="right-align">
          <li><a class="btn-med btn-grey"
                 data-toggle="modal"
                 href="#modal-add-event" id="add-event">Add an event</a></li>

        </ul>
    </div>
    <div class="col2">
      <ul>
        <li class="button"></li>
        <li class="button"></li>
        <li class="button"></li>
      </ul>
    </div>
  </div>
  <div class="main wide">
    <div class="col1">
      <!-- <ul class="results">

        <li id="results">RESULTS</li>
      </ul> -->
      <div class="fixed titanium">
        <div class="filler"></div>
        <section class="index">
          <% for event in @events %>
          <article data-color="<%=event.category.color%>"class="event" style="border-left: solid 5px <%= event.category.color %>">
            <div class="name"><%= event.name %></div>
            <div class="price"><%= event.price_string %></div>
            <div class="duration"><%= event.start_date %> <%= event.start_time%> - <%= event.end_date %> <%= event.end_time %></div>
            <div class="description"><%= event.summary%></div>
            <hr class="gradient">
          </article>
          <% end %>
        </section>

      </div>
    </div>
    <div class="col2">
      <%= image_tag 'map.png', class: 'wide', style: 'height: 368px' %>

    </div>
  </div>
  <div class="categories wide gradient-gray">
    <div class="col1">
      <span class="side-text label-lg">CATEGORIES</span>
    </div>
    <div class="col2">
      <div class="color-bar">

        <div data-color="white" class="category">
          <div class="color square" style="background-color: white">
            <span class="label dot">·</span>
          </div>
          <div class="color label">
            <span class="label" id="all">ALL</span>
          </div>
        </div>

        <% for category in @categories %>

          <div data-color="<%= category.color %>" class="category">
          <div class="color square" style="background-color: <%= category.color %>">
            <span class="label dot">·</span>
          </div>
          <div class="color label">
            <span class="label" id="<%=category.name.gsub('&','n').gsub(' ','-')%>"><%=category.name.upcase%></span>
          </div>
        </div>
        <% end %>
      </div>

    </div>

  </div>
  <div class="search wide gradient-gray">
    <div class="col1">
      <span class="side-text label-med">ADVANCED SEARCH</span>
    </div>
    <div class="col2">

    </div>
  </div>
  <footer class="wide">

  </footer>
</div>

<!-- new event modal -->
<div class="modal fade in" id="modal-add-event" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add a New Event</h4>
    </div>
    <div class="modal-body">
      <div class="wrapper">
        <%= render 'form' %>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div>
</div><!-- /.modal -->

