<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @event.summary %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @event.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @event.address_line_2 %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Country:</b>
  <%= @event.country %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @event.zipcode %>
</p>

<p>
  <b>Starts:</b>
  <%= @event.starts %>
</p>

<p>
  <b>Ends:</b>
  <%= @event.ends %>
</p>

<p>
  <b>Link:</b>
  <%= @event.link %>
</p>

<p>
  <b>Price:</b>
  <%= @event.price %>
</p>

<p>
  <b>Price unit:</b>
  <%= @event.price_unit %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
