<%= form_for (@user=User.new) do |f| %>
    <div class="inline half left">
      <%= f.label 'First Name' %>
      <%= f.text_field :first_name, class: 'validate[required]' %>
    </div>

    <div class="inline half">
      <%= f.label 'Last Name' %>
      <%= f.text_field :last_name, class: 'validate[required]' %>
    </div>

    <div class="inline half left">
      <%= f.label 'E-mail' %>
      <%= f.text_field :email, {class: 'validate[required] validate[custom[email]]'} %>
    </div>
    <div class="inline half form">
      <%= f.label :country %>
      <%= f.select :country, ['United States', 'Panama'], {},
                   {class: 'validate[required] form-control'} %>
    </div>

    <div class="inline half left">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'validate[required,minSize[6],maxSize[50]]', id: 'password1' %>
    </div>
    <div class="inline half">
      <%= f.label 'Confirm Password' %>
      <%= f.password_field :password_confirmation, class: 'validate[required,equals[password1]]', name: 'password_confirmation' %>
    </div>
    </div>

    <div class="wide center">
      <%= f.check_box :agrees, class: 'validate[required]', required: true %>
      I agree with the <%=link_to 'terms of use', '#', class: 'pink' %> and <%= link_to 'privacy policy', '#', class: 'pink'%>.<br>
      <%= f.submit 'SIGN UP', class: 'btn-pink' %><br>
      <%= link_to 'Already a Member? Log in!', root_url, class: 'pink'%>

      <br><br>
    </div>
<% end %>